#wapper
{
    display: flex;
    justify-content: center;
}
#container
{
    display: flex;
    justify-content: space-between;
    width: 1440px;
}
#left
{
    width: 90px;
    height: 870px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#left_above
{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
#item
{
    margin-top: 40px;
    width: 32px;
}
#left_below
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#setting
{
    width: 44px;
    margin-top: 36px;
}
#avatar
{
    width: 44px;
}
#center
{
    width: 910px;
   
}
#right
{
    width: 440px;
    background-color: aqua;
}
#Internal
{
    display: inline;
    background-color: red;
    border-radius: 3px;
}
#userImg
{
    
    width: 20px;
    border-radius: 5px;
    
}
#center_container
{
    width: 350px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

}